html {
  width: 100vw;
  height: 100vh;

  background: #414141;
  //background: linear-gradient(98.76deg, #636363 0%, rgba(99, 99, 99, 0.983385) 19.15%, rgba(74, 74, 74, 0.915638) 19.17%, rgba(77, 77, 77, 0.913062) 19.94%, rgba(99, 99, 99, 0.89) 19.97%);
  //background: linear-gradient(98.76deg, #636363 0%, rgba(77, 77, 77, 0.913062) 19.94%, rgba(99, 99, 99, 0.89) 19.97%);
}

body {
  font-family: "Liberation Serif", serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}